* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  background-color: transparent;
  box-sizing: border-box;
}

.wrapper {
  font-size: 18px;
  font-family: sans-serif;
}

.register {
  color: green;
}

.input {
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.button-register {
  color: white;
  background-color: green;
  border: 2px solid black;
}

/* TEST */